
@tailwind base;
@tailwind components;
@tailwind utilities;

.app {
}
.container {
  max-width: 1440px;
  margin:  0 auto;
}
.wrap-head {
  background-image: url("https://generation-sessions.s3.amazonaws.com/d295524ff2f920e467cda4248d699773/img/27805749-hero-desktop-hero-media-38d45eaf-5768-4977-ab88-211735c-1.png");
  height: 650px;
  width: 100%;
  background-size: cover;
  position: relative;
}

.pseudo {
  background: linear-gradient(360deg, rgb(255, 255, 255) 5%, rgb(22 14 14 / 34%) 63%);
  height: 650px;
  width: 100%;
  position: absolute;
}
.nav-list {
  align-items: center;
  border: 1px none;
  display: flex;
  min-height: 40px;
  min-width: 1408px;
  padding: 0px 741.42px 0px 0px;
  position: relative;
  width: 100%;
}